Gherkin2Mtm/Gherkin2Mtm/FieldMapper.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Fields">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="TestCaseField">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Tag" type="xs:string"/>
              <xs:element name="Required" type="xs:boolean"/>
              <xs:element name="AllowMultiple" type="xs:boolean"/>
              <xs:element name="Prefix">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>